body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}

i.icon{
	font-size: 2em;
}

.container.main{
	margin-top: 7.0em;
}

#delete{
	display: inline;
}